<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Agregar la tarjeta con la imagen y el párrafo -->
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/ClassList.png"></ion-img>
      <p>Bienvenidos a la aplicación móvil ClassList de DuocUC. Esta plataforma ha sido desarrollada para abordar una
        problemática común en el ámbito educativo: el registro de asistencia en las clases presenciales. En la
        actualidad, los docentes enfrentan dificultades al registrar la asistencia de los alumnos, lo que puede llevar a
        errores y falta de eficiencia en el proceso.
        <br>
        ClassList ofrece una solución innovadora al permitir a los docentes generar códigos QR de asistencia, que los
        alumnos pueden escanear utilizando sus dispositivos móviles. Con un sencillo proceso, los alumnos pueden
        registrar su asistencia de manera rápida y precisa, reduciendo el tiempo dedicado a esta tarea y minimizando
        errores.
        <br>
        La aplicación también aborda los desafíos que surgen en el contexto actual, donde la educación ha tenido que
        adaptarse a modalidades presenciales y remotas. RegistrAPP busca instar a los alumnos a asistir presencialmente
        a clases y mejora el proceso de reportes de asistencia.
        <br>
        Nuestra aplicación busca brindar una solución práctica y efectiva para mejorar la experiencia educativa y contribuir al proceso de
        enseñanza-aprendizaje.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>