<ion-menu contentId="main-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item button (click)="openPage('crear')" class="menu-item">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        Crear
      </ion-item>
      <ion-item button (click)="openPage('about')" class="menu-item">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        About
      </ion-item>
      <ion-item button (click)="openPage('registro')" class="menu-item">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Registro
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
